[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
torch = "*"
torchvision = "*"
jupyter = "*"
pandas = "*"
scikit-learn = "*"
xgboost = "*"
requests = "*"
flask = "*"
gunicorn = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
